<div class="container">
  <div class="row flex-vert">

    <%- partial('testimonial', {text: "Working with PowderKeg altered our entire approach to building a startup as we were quickly led through a number of surprising Validated Learning experiments. PowderKeg protected our seed capital and helped us find our market faster.", name: 'Brennan Kelly', company: 'Clover Awards', url: 'https://cloverawards.com', position: 'CEO'}) %>

    <%- partial('testimonial', {text: "Working with PowderKeg altered our entire approach to building a startup as we were quickly mber of surprising Validated Learning experiments. PowderKeg protected our seed capital and helped us find our market faster.", name: 'Brennan Kelly', company: 'Clover Awards', url: 'https://cloverawards.com', position: 'CEO'}) %>

    <%- partial('testimonial', {text: "Working with PowderKeg altered our entire approach to building a startup as we were quickly led through a number of surprisi. PowderKeg protected our seed capital and helped us find our market faster.", name: 'Brennan Kelly', company: 'Clover Awards', url: 'https://cloverawards.com', position: 'CEO'}) %>

  </div>
</div>
