section#benefits .row.flex {
  flex-flow: column wrap;
}

section#benefits .benefit {
  flex: 0 1 33%;
  padding-bottom: 30px
}

section#benefits .benefit:last-child {
  padding-bottom: 0px
}

@media(min-width: 650px){
  section#benefits .benefit {
    padding-bottom: 0px;
  }

  section#benefits .row.flex {
    flex-flow: row nowrap;
    align-self: flex-start;
    align-items: flex-start;
  }
}
