.benefits .row.flex {
  flex-flow: column wrap;
}

.benefits .benefit {
  flex: 0 1 33%;
  padding-bottom: 30px
}

.benefits .benefit:last-child {
  padding-bottom: 0px
}

.benefits .card-image {
  max-height: 250px;
  overflow: hidden;
}

.benefits .card-image img {
  transition: 0.3s;
  opacity: 0.70;
}

.benefits .card-image img:hover {
  // opacity: 0.92;
}

.overlay {
  background: rgba(0,0,0,1);
}

.card-content {
  // font-size: 16px;
}

@media(min-width: 650px){
  .benefits .benefit {
    padding-bottom: 0px;
  }

  .benefits .row.flex {
    flex-flow: row nowrap;
    align-self: flex-start;
    align-items: flex-start;
  }

  .benefits .card-content {
    min-height: 120px;
  }
}
