
section#benefits .benefit {
  flex: 0 1 auto;
  padding-bottom: 30px
}

section#benefits .benefit:last-child {
  padding-bottom: 0px
}

@media(min-width: 768px){
  section#benefits .benefit {
    padding-bottom: 0px;
  }
}
