$dark-color: #222;
$text-secondary-color: #fff;
$text-muted: #727272;
$accent-color: #FF3B2F;
$fill-color: #494E54;

.dark-color {
  background-color: $dark-color;
}

.fill-color {
  background-color: $fill-color;
}

.base-color {
  @extend .grey;
}

.accent-color {
  background-color: $accent-color;
}

.text-muted {
  color: $text-muted;
}

a {
  color: $accent-color;
}

.fill-overlay{
  background: rgba(0, 0, 0, 0.50);
}
