header.index-header {
  min-height: 450px;
}

.uvp {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 42px;
}

.lead-in {
  font-weight: 300;
  // font-size: 16px;
}

.subheading-text {
  // font-size: 16px;
}

.service-collection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.service-collection li {
  flex: 0 1 45%;
  list-style: circle;
  margin-left: 28px;
}

@media(min-width: 600px) {
  .service-collection {
    flex-flow: row wrap;
  }
}
