section#testimonials .row.flex {
  flex-flow: column nowrap;
}

section#testimonials .testimonial {
  flex: 0 1 auto;
  border-left: 3px solid gray;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.testimonial .quote {
  font-style: italic;
  // color: $text-muted;
  font-weight: 300;
}

.testimonial .source {
  font-style: italic;
}

@media (min-width: 768px) {

  section#testimonials .row.flex {
    flex-flow: row wrap;
    align-items: flex-start;
    align-self: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }

  section#testimonials .testimonial {
    flex: 0 1 50%;
    font-size: 14px;
 }
}
