<footer>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <span class="copyright">&copy; PowderKeg Labs 2015</span>
      </div>
      <!--./col -->

      <div class="col s6 right-align">
        <span class="copyright">Toronto, ON</span>
      </div>
      <!--./col -->
    </div>
    <!-- ./row -->
  </div>
  <!-- ./container -->
</footer>
