<!-- Benefits -->
<section id="benefits">
	<div class="container">
		<div class="row">
	    <%- partial('benefit', {title: 'Tech Strategy', image: '/images/collaborate.jpg', description: "We immerse ourselves in your idea and determine the best technology solution for your startup -- it's like having a technical co-founder on demand."}) %>
	    <%- partial('benefit', {title: 'Design & Planning', image: '/images/design.jpeg', description: "We'll identify the key features for the Minimum Viable Product, then create a development plan to get it to market as quickly and cost effectively as possible."}) %>
	    <%- partial('benefit', {title: 'App Development', image: '/images/development.jpeg', description: "Build and launch your product with our team of local developers or have us project manage your own team, either way we'll make your idea a reality."}) %>
	  </div>
	  <!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /Benefits -->
