<!-- item -->
<div class="benefit col">
  <div class="hero">
    <img class="responsive-img" src="<%= image %>" />
  </div>
  <div class="text">
    <h5><%= title%></h5>
    <p class="text-muted">
      <%= description %>
    </p>
  </div>
</div>
<!-- /.item -->
