<!DOCTYPE html>
<html>

  <head>
    <title>PowderKeg Labs</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <%- yield %>

    <%- partial("/_partials/footer", {}) %>
  </body>
</html>
