<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h1>About</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <section id="subheading">
    <div class="container">
      <div class="row flex">
        <div class="col s12 subheading-text">
          <div class="left-align">
            <p>PKL came about as a response to the many questions non-technical entrepreneurs face when building their ideas.</p>
              <ul class="quote">
                <li>I have an idea for an app, how do I get started?</li>
                <li>Am I making the right decision with regards to the technology?</li>
                <li>How quickly can development be completed?</li>
                <li>How much will development cost?</li>
              </ul>
            <p>In the current startup climate, it is often difficult to find a technical co-founder because the demand for them far outweighs the supply. While a technical co-founder is required for a startup’s future success, it’s may not be needed at the inception stage — a bit of technical guidance is all it takes to get it off the ground.</p>
            <p>Our mission is to provide the technical knowledge, resources, and tools to enable great people to start solving real problems right away.</p>
          </div>
        </div>
      </div>
  </section>

  <div class="divider"></div>

  <%- partial('_partials/team/team', {}) %>

  <%- partial("_partials/learn_more", {}) %>

</main>
