<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</header>

<main>

  <section id="contact" class="page">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <!-- <h2 class="section-heading">Contact Us</h2> -->
                  <h3>Have a great idea?</h3>
                  <p>We'd love to learn all about it.<br/> Email us or use the form below, we'll get back to you within 24 hours.<br /><a href="mailto:kaboom@powderkeglabs.com">kaboom@powderkeglabs.com</a></p>
              </div>
          </div>
          <div class="row">
            <form name="sentMessage" id="contactForm" class="col s12">
              <div class="row">
                <div class="input-field col s6">
                    <input type="text" placeholder="Your Name" id="name" class="validate">
                    <label for="name">Your Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="email" placeholder="Your Email" id="email" class="validate">
                    <label for="email">Your Email</label>
                </div>
              </div>
              <!-- ./row -->
              <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Tell us how we can help..." id="message" required class="materialize-textarea validate"></textarea>
                    <label for="message">Tell us how we can help</label>
                </div>
              </div>
              <!-- ./row -->
              <div class="row">
                <div class="col s12">
                    <div id="success"></div>
                    <button type="submit" class="red waves-effect waves-light btn-large">Send Message</button>
                </div>
              </form>
            </div>
            <!-- ./row -->
          </div>
      </div>
 </section>


</main>
