<header class="dark-color index-header">
  <div class="container">
    <div class="row">
      <div class="col s12 align-left">
        <h3 class="uvp">Get a tech advisor for your business</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="lead-in">We'll connect you with the best developers, CTOs, and technical founders in Toronto to help make your ideas happen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="btn-large red">Let's Get Started</a>
      </div>
    </div>
  </div>
</header>

<main>

  <section id="subheading">
    <div class="container">
      <div class="row flex">
        <div class="col s12 subheading-text">
          <h4>Get Help With</h4>
          <ul class="service-collection">
            <li>Web and mobile app development</li>
            <li>Designing your Minimum Viable Product</li>
            <li>Project specs and cost evaluations</li>
            <li>Strategy and product vision</li>
            <li>Technical interviews of new hires</li>
            <li>And more</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <%- partial("_shared_partials/benefits/benefits", {}) %>

  <div class="divider"></div>

  <section class="faq">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Do I pay the advisor?</h4>
          <p>The first session is absolutely <b>FREE*</b>. If you want to meet for additional sessions then it's for you two to work out.</p>
          <p><small>* - buy them a cup of coffee, at least</small></p>
        </div>
      </div>
    </div>
  </section>


  <div class="divider"></div>

  <%- partial("_shared_partials/testimonials/testimonials", {}) %>

  <%- partial("_shared_partials/learn_more", {}) %>


</main>
