<header class="dark-color index-header">
  <div class="container">
    <div class="row">
      <div class="col s12 align-left">
        <h3 class="uvp">Get Technical Guidance For Your Startup</h3>
      </div>
    </div>
    <div class="row flex">
      <div class="col s12">
        <h5 class="lead-in">Minimize development costs and get to market quicker by connecting with local full-stack developers, CTOs, and technical founders.
        </h5>
      </div>
    </div>
  </div>
</header>

<main>

  <!--
  <section id="subheading">
    <div class="container">
      <div class="row flex">
        <div class="col s12 subheading-text center-align">
            <h4>How We Can Help</h4>
            <p class="text-muted">
              Fantastic! Now comes the fun part, getting it developed an out to market.
              It's an exciting road ahead. We are a network of mentors with the technical know-how and business prowess to help you build your apps and define your revenue stream with customers.</p>
        </div>
      </div>
  </section>
  -->

  <!--<div class="divider"></div>-->

  <%- partial("_shared_partials/benefits/benefits", {}) %>

  <div class="divider"></div>

  <%- partial("_shared_partials/testimonials/testimonials", {}) %>

  <%- partial("_shared_partials/learn_more", {}) %>


</main>
