<header class="dark-color index-header">
  <div class="container">
    <div class="row">
      <div class="col s12 align-left">
        <h3 class="uvp">Get a tech advisor for your business.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="lead-in">We'll connect you with the best developers, startup CTOs, and technical founders in Toronto to solve your business problems.</p>
      </div>
    </div>
    <div class="row flex">
      <div class="col s12">
        <p class="lead-in">Contact us now and get a <b>free consultation</b>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="btn-large red">Let's Get Started</a>
      </div>
    </div>
  </div>
</header>

<main>

  <%- partial("_shared_partials/benefits/benefits", {}) %>

  <div class="divider"></div>

  <section id="subheading">
    <div class="container">
      <div class="row flex">
        <div class="col s12 subheading-text">
          <h4>Get Help With</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <ul>
            <li>Web and Mobile App Development</li>
            <li>Building Your Minimum Viable Product</li>
            <li>Scaling Your App</li>
            <li>Code Reviews</li>
          </ul>
        </div>
        <div class="col s12 m6">
          <ul>
            <li>Product Strategy</li>
            <li>Specifcation and Cost Evaluations</li>
            <li>Interviewing new hires</li>
            <li>And More ...</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="btn-large red">Let's Get Started</a>
        </div>
      </div>      
    </div>
  </section>


  <div class="divider"></div>

  <%- partial("_shared_partials/testimonials/testimonials", {}) %>

  <%- partial("_shared_partials/learn_more", {}) %>


</main>
