<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <img src="/images/pkl-logo-transparent.png" />
        <!-- <h1>We'll help you build your startup</h1> -->
      </div>
    </div>
    <div class="row flex">
      <div class="col s12 center-align">
        <h5 class="lead-in">We jump start your startup’s digital product development and get you to market faster.</h5>
      </div>
    </div>
  </div>
</header>

<main>
  <section id="subheading">
    <div class="container">
      <div class="row flex center-align">
        <div class="subheading-text">
            <h5>We make your ideas happen</h5>
            <p class="text-muted">We are a highly experienced team of local startup CTO's, developers and consultants who have the technical know-how and the business prowess to not only help you build your business but also to define your revenue stream with customers and investors. Using the Lean Startup methodology, we'll help you bring your ideas to market in a few short months.</p>
        </div>
      </div>
  </section>

  <section id="benefits">
    <%- partial("_partials/benefits/benefits", {}) %>
  </section>

  <section id="testimonials">
    <%- partial("_partials/testimonials/testimonials", {}) %>
  </section>

  <section id="contact">

  </section>

</main>
