<nav class="dark-color" role="naviation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      <!-- <img src="/images/powderkeg-logo.png" /> -->
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>PowderKeg</li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>
