<!-- Benefits -->
<section class="benefits">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>It's Easy To Get Started</h4>
			</div>
		</div>
		<div class="row">
	    <%- partial('benefit', {
				title: 'Step 1',
				image: '/images/collaborate.jpg',
				description: "Tell us what your business needs the most help with."
			}) %>

	    <%- partial('benefit', {
				title: 'Step 2',
				image: '/images/design.jpeg',
				description: "We'll connect you with the advisor that best fits your space."
			}) %>

	    <%- partial('benefit', {
				title: 'Step 3',
				image: '/images/collaborate.jpg',
				description: "Meet with your technical advisor and get the help you need."
			}) %>
	  </div>
	  <!-- /.row -->

		<div class="row">
      <div class="col s12 center-align">
        <a class="btn-large red">Let's Get Started</a>
      </div>
    </div>
  </div>

	</div>
	<!-- /.container -->
</section>
<!-- /Benefits -->
