<!-- Benefits -->
<section id="benefits">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>It's easy to get help</h4>
			</div>
		</div>
		<div class="row">
	    <%- partial('benefit', {
				title: 'Step 1',
				image: '/images/collaborate.jpg',
				description: "Tell us what you'd like help with."
			}) %>

	    <%- partial('benefit', {
				title: 'Step 2',
				image: '/images/design.jpeg',
				description: "We connect you to the best advisor for your business."
			}) %>

	    <%- partial('benefit', {
				title: 'Step 3',
				image: '/images/development.jpeg',
				description: "Meet with your advisor and get the help you need."
			}) %>
	  </div>
	  <!-- /.row -->



	</div>
	<!-- /.container -->
</section>
<!-- /Benefits -->
