<section class="projects" id="projects">
  <div class="container">

    <%- partial('project', {
        name: "Clover Awards",
        categories: "Social Enterprise, Crowdfunding, Recognition",
        technologies: "Responsive Web, NodeJS, AngularJS, Loopback.io, Paypal, Stripe",
        image: "/images/work/clover/clover_home_mentor_mbp.jpg",
        description: "Lorem Ipsum Dolor",
        alt: null
      }) %>



  </div>
</section>
