<section id="team" class="team">
  <div class="container">

    <div class="row center-align">
      <h3 class="section-title">The Team</h3>
    </div>

    <%- partial('member', {name: "JJ Hiew", role: "Engineering", image: "/images/team/jj.jpg", description: "JJ has over 10 years of experience as a CTO, solutions architect, and software engineer. He has worked on projects for clients such as IBM, GE and Castrol Wakefield. JJ graduated from UofT with a B.Sc in Computer Science. He’s obsessed with turning his love of delicious baked goods and technology into a billion dollar business.", alt: ""}) %>
    <%- partial('member', {name: "Trevor Zeyl", role: "Advisor", image: "/images/team/trevor.jpg", description: "Trevor is a business lawyer with the global law firm Norton Rose Fulbright Canada LLP, where he specializes in corporate finance and M&A. Trevor attended the University of Windsor and the London School of Economics where he attained his JD and LLM, respectively. When he’s not closing multi-million dollar deals he can be found sobbing at the latest Toronto Raptors loss.", alt: "alt"}) %>
    <%- partial('member', {name: "Ben Zelikovitz", role: "Advisor", image: "/images/team/ben.jpg", description: "Ben is a Director at Sitescout and has 10+ years of experience in Enterprise SaaS sales and operations. Prior to that, Ben was an Account Manager for Randstad Canada's technology recruiting division. Ben graduated from Wilfrid Laurier University with a B.A in Political Science. His heroes are Justin Bieber and Drake, in that order.", alt: ""}) %>

  </div>
</section>
